[Unit]
Description=First startup
After=sysinit.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=no
User=irisu
WorkingDirectory=/home/irisu
ExecStart=/home/irisu/first_startup.sh

[Install]
WantedBy=multi-user.target